<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>DevOps Buddy</title>

    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

    <!-- GOOGLE APIs -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet" />

</head>

    <div th:fragment="before-close-body-scripts">

        <!-- webjars -->
        <script th:src="@{/webjars/jquery/3.1.1/jquery.js}" />
        <script th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.js}" />

        <!-- Plugin JavaScript -->
        <script th:src="@{/js/jquery-easing/jquery.easing.js}" />

        <!-- Contact form JavaScript -->
        <script th:href="@{/js/jqBootstrapValidation.js}" />
        <script th:href="@{/js/contact_me.js}" />

        <!-- Custom scripts for this template -->
        <script th:href="@{/js/agency.min.js}" />

    </div>



</html>
